<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aditya Saxena</title>
        <link rel="shortcut icon" href="../favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="css/component.css"/>
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
        <script src="js/modernizr.custom.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4.1.3/imagesloaded.pkgd.min.js"></script>
        <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    </head>
    <body>
        <div class="container- demo-1">
            <div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <div class="main-title-container">
                        <div class="name">
                            <h1 class="main-title">
                                Aditya  <span class="thin">Saxena</span>
                            </h1>
                        </div>
                        <div class="links-connect">
                            <ul class="inline-list">
                                <li class="list__itm">
                                    <a href="#">
                                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list__itm">
                                    <a href="#">
                                        <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list__itm">
                                    <a href="#">
                                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list__itm">
                                    <a href="#">
                                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="about-section">
                        <div class="row-wrap-reverse">
                            <div class="left-wrap-reverse ">
                                <div class="text-about box-shadow-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsam pariatur, modi voluptatem fugiat neque, magnam debitis minima esse quibusdam rem quam eaque aliquam temporibus assumenda corrupti iusto praesentium iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores est amet nulla odit sit, esse doloremque eaque, natus a, veritatis illum consequatur explicabo reiciendis omnis quisquam iusto consequuntur ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid praesentium architecto, accusamus vitae totam delectus iure similique tempora voluptatibus itaque a voluptas laudantium animi illo hic maxime eligendi enim!
								</div>
                            </div>
                            <div class="right-wrap-reverse">
                                <div class="heading-text-slim-large -left-border text-center">about me</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quote-maker-container">
                    <div class="rotated-container rotated-container-right">
                        <div class="text-quote text-quote-right">
                            <div id="openQuote"></div>
                            It Doesn’t Matter Where You Came From. All That Matters Is Where You Are Going
							
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="stage-container"></div>
                    <div class="row-wrap">
                        <div class="left-wrap">
                            <div class="heading-text-slim-large -right-border text-center padd-20px">skills</div>
                        </div>
                        <div class="right-wrap box-shadow-left">
                            <div class="grid-container">
                                <div class="grid-sizer"></div>
                                <div class="grid-item">
                                    <img src="/img/skills/js.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/jquery.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/node.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/java.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/npm.jpg" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/css.jpg" alt="" style="width: 100%">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/materializecss.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/bootstrap.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/php.png" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/cprogramming.jpg" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/html.png" alt="" style="width: 100%">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/python.jpeg" alt="">
                                </div>
                                <div class="grid-item">
                                    <img src="/img/skills/opencv.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quote-maker-container">
                    <div class="rotated-container rotated-container-left">
                        <div class="text-quote text-quote-left">
                            <div id="openQuote"></div>
                            It Doesn’t Matter Where You Came From. All That Matters Is Where You Are Going
							
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row-wrap-reverse">
                        <div class="left-wrap-reverse box-shadow-right">
                            <div class="main">
                                <ul id="og-grid" class="og-grid">
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                            <img src="img/thumbs/1.jpg" alt="img01"/>
                                            <span class="cover-container"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                            <img src="img/thumbs/2.jpg" alt="img02"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                                            <img src="img/thumbs/3.jpg" alt="img03"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                            <img src="img/thumbs/1.jpg" alt="img01"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                            <img src="img/thumbs/1.jpg" alt="img01"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                                            <img src="img/thumbs/1.jpg" alt="img01"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                            <img src="img/thumbs/2.jpg" alt="img02"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="img/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                                            <img src="img/thumbs/2.jpg" alt="img02"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-wrap-reverse">
                            <div class="heading-text-slim-large text-center -left-border padd-20px">projects</div>
                        </div>
                    </div>
                </div>
                <div class="quote-maker-container">
                    <div class="rotated-container rotated-container-right">
                        <div class="text-quote text-quote-right">
                            <div id="openQuote"></div>
                            It Doesn’t Matter Where You Came From. All That Matters Is Where You Are Going
							
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row-wrap">
                        <div class="left-wrap">
                            <div class="heading-text-slim-large -right-border text-center padd-20px">hire me</div>
                        </div>
                        <div class="right-wrap box-shadow-left give-back-color">
                            <div class="form-">
                                <form action="/email" method="POST">
                                    <div class="one-liner">
                                        <div class="form-field one-liner--">
                                            <input type="text" name="name" class="form-input" placeholder="full name" required="true">
                                        </div>
                                        <div class="form-field one-liner--">
                                            <input type="text" name="organisation" class="form-input" placeholder="organisation" required="true">
                                        </div>
                                    </div>
                                    <div class="form-field one-liner-hun">
                                        <textarea name="message" cols="10" rows="4" class="form-textarea" placeholder="your message here"></textarea>
                                    </div>
                                    <div class="form-field">
                                        <button type="submit" class="sub-btn">
                                            <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                                            <span id="send">send</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                	<div class="top-layer text-center">
                		made with <span id="heart">&#10084;</span>, <span id="music">&#9834;</span> & <span id="coffee">&#9749;</span> by aditya saxena</span>
                	</div>
                	<div class="lower-layer">
                		<div class="main-frame">
                			<div class="left-most">
                				<div class="title-footer">
                				<span id="the-s">s</span>ocial gallery</div>
                				<div class="social-grid">
                					
                				</div>
                			</div>
                			<div class="middle-one">
                				<div class="title-footer">
                					<span id="the-e">e</span>xperiences
                				</div>
                				<div class="experience-container">
                					<ul>
                						<li>
                							<div class="main-frame">
                								<div class="left-side">
                									<div class="img-container"></div>
                								</div>
                								<div class="right-side">
                									<div class="title-footer-secondary">internship</div>
                									<div class="small-detail">web-developer, Real Happiness Ltd. Pvt.</div>
                								</div>
                							</div>
                						</li>
                						<li>
                							<div class="main-frame">
                								<div class="left-side">
                									<div class="img-container"></div>
                								</div>
                								<div class="right-side">
                									<div class="title-footer-secondary">freelancer</div>
                									<div class="small-detail">web developer, ghost writer</div>
                								</div>
                							</div>
                						</li>
                						<li></li>
                					</ul>
                				</div>

                			</div>
                			<div class="right-most">
                				<div class="title-footer">
                					<a href="blog/" id="blog">
                					<span id="the-b">b</span>log
                					</a>
                				</div>
                				<ul class="blog-list">
                					<li><a href="#">array-like objects in JavaScript</a></li>
                					<li><a href="#">creating depth in design</a></li>
                					<li><a href="#">isometric and 3D grid design</a></li>
                				</ul>
                			</div>
                		</div>
                	</div>
                </footer>
                <!-- /container -->
                <script src="js/TweenLite.min.js"></script>
                <script src="js/EasePack.min.js"></script>
                <script src="js/rAF.js"></script>
                <script src="js/demo-1.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script src="js/grid.js"></script>
                <script>
                    $(function() {
                        Grid.init();
                    });
                </script>
                <script type="text/javascript">
                    
						var grid = document.querySelector('.grid-container');
						var msnry;

							imagesLoaded( grid, function() {
							  // init Isotope after all images have loaded
							  msnry = new Masonry( grid, {
							    itemSelector: '.grid-item',
							    columnWidth: '.grid-sizer',
							    percentPosition: true,
							   
							  });
							});
	

                </script>
    </body>
</html>
