<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Aditya Saxena</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="https://unpkg.com/imagesloaded@4.1.3/imagesloaded.pkgd.min.js"></script>
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container- demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="main-title-container">
						<div class="name">
						<h1 class="main-title">Aditya  <span class="thin">  Saxena</span></h1>
						</div>
						<div class="links-connect">
							<ul class="inline-list">
								<li class="list__itm"><a href="#"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
								<li class="list__itm"><a href="#"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
								<li class="list__itm"><a href="#"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li>
								<li class="list__itm"><a href="#"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="about-section">
					
					<div class="container">
						<div class="row-wrap-reverse">
							<div class="left-wrap">
								<div class="text-about">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsam pariatur, modi voluptatem fugiat neque, magnam debitis minima esse quibusdam rem quam eaque aliquam temporibus assumenda corrupti iusto praesentium iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At asperiores est amet nulla odit sit, esse doloremque eaque, natus a, veritatis illum consequatur explicabo reiciendis omnis quisquam iusto consequuntur ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid praesentium architecto, accusamus vitae totam delectus iure similique tempora voluptatibus itaque a voluptas laudantium animi illo hic maxime eligendi enim!
								</div>
							</div>
							<div class="right-wrap">
								<div class="heading-text-slim-large -left-border text-center">about me</div>
							</div>
						</div>
						<div class="row-wrap">
							<div class="left-wrap">
								<div class="heading-text-slim-large -right-border text-center">Skills</div>
							</div>
							<div class="right-wrap">
								<div class="grid_container">
									<div class="grid-sizer"></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
										<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
									 	<div class="grid-item"><img src="/img/skills/.png" alt=""></div>
									</div>						
							</div>
						</div>
					</div>
					
				</div>
				
				
			</div>
			
		</div><!-- /container -->
		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>
	</body>
</html>